### Common ###

.idea
.vscode

*.jar

### API ###

api/HELP.md
api/target/
api/src/main/resources/static/*

api/.idea
api/*.iws
api/*.iml
api/*.ipr

api/.vscode/

api/.mvn

### UI ###

ui/node_modules

ui/build